.CallContactsChatWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .TabsWrapper {
    width: 100%;
    height: 6.36%;
    max-height: 6.36% !important;
  }

  .ContentWrapper {
    min-height: 93.64%;
    max-height: 93.64%;
    width: 100%;
  }
}
