.PhoneTyping {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  .ScreenContent {
    width: 84.1%;
    height: 71.31%;
    //background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    .PhoneNumberWrapper {
      width: 100%;
      height: 9.87%;
    }

    .AddNumberWrapper {
      width: 100%;
      height: 10.24%;

      .AddNumber {
        width: 100%;
        height: 50%;
        //background-color: red;

        &:hover {
          filter: brightness(140%);
        }
      }
    }

    .KeyboardWrapper {
      width: 90%;
      //height: 65.92%;
      height: 68.92%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      //grid-column-gap: 11.07%;
      grid-column-gap: 8.07%;
      grid-row-gap: 3.21%;

      .KeyboardButton {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          filter: contrast(105%);
        }
      }
    }

    .CallCleanButtonsWrapper {
      width: 100%;
      height: 13.97%;
      //background-color: red;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .CallButton {
        position: relative;
        width: 44.64%;
        height: 60%;
        &:hover {
          filter: contrast(110%) invert(10%);
        }

        .ClickableMakeCall {
          width: 100%;
          height: 130%;
          position: absolute;
          top: -10%;
        }
      }

      .ClearButtonContainer {
        width: 26.911%;
        height: 72%;
        //background-color: blue;
        display: flex;

        .ClearButtonWrapper {
          position: relative;
          height: 55.5%;
          margin-top: 21%;
          margin-left: 20%;
          width: 47.22%;

          &:hover {
            filter: contrast(110%) invert(10%);
          }

          .CrossContainer {
            width: 100%;
            height: 100%;
            clip-path: polygon(0% 50%, 35% 0%, 100% 0%, 100% 100%, 35% 100%, 0% 50%);
          }

          .CrossWrapper {
            width: 39%;
            position: absolute;
            right: 17%;
            bottom: 22.35%;
            display: flex;
            align-items: center;

            .FirstLine {
              position: relative;
              width: 100%;
              height: 12%;
              background-color: black;
              transform: rotate(-45deg);

              .SecondLine {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: black;
                transform: rotate(-90deg);
              }
            }
          }
        }
      }
    }
  }
}
