@use '../../../../../../constants/hud/corporations/corporationsTheme';

.CommonPermissionsList {
  width: 100%;
  height: 100%;
  background-color: rgba(corporationsTheme.$bg_darkBlack, 0.95);

  .HeaderWrapper {
    width: 100%;
    height: 15.7%;
  }

  .LoadingWrapper {
    width: 100%;
    height: calc(85.3% - 2px);
  }

  .InputWrapper {
    width: 100%;
    height: 5.3%;
    box-sizing: border-box;
    padding: 0 7.95%;
  }

  .PermissionsSetsWrapper {
    width: 100%;
    max-width: 100%;
    height: 79%;
    max-height: 79%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 7.95%;

    &::-webkit-scrollbar {
      width: 0.941rem;
      //width: 0.5882rem;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 0.2rem corporationsTheme.$scrollbar_brightGrey;
      border: solid 0.3529412rem transparent;
      //border-right: solid 0.3529412rem transparent;
      background-color: transparent;
    }
  }
}
