@use '../../constants/scss/theme';

.WeaponTypeContainer {
  height: 25%;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
  position: relative;
}

.TypeAndWeaponTitle {
  //height: 21.5%;
  height: 20%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

//.WeaponSquareContainer {
//  height: 32.156%;
//  width: 100%;
//  //background: linear-gradient(90deg, transparent, rgba(44, 60, 97, 1));
//  background: linear-gradient(90deg, transparent, rgba(53, 78, 163, 1));
//  box-sizing: border-box;
//  border-top: 2px solid;
//  border-bottom: 2px solid;
//  border-image: linear-gradient(90deg, transparent 50%, rgba(63,118,243,0.6) 60%, rgba(63,118,243,1)) 2;
//  position: relative;
//}

.WeaponSquareContainer {
  pointer-events: none;
  height: 40.78%;
  width: 100%;
  //background: linear-gradient(90deg, transparent, rgba(44, 60, 97, 1));
  background: linear-gradient(90deg, transparent, rgba(53, 78, 163, 0.7));
  clip-path: polygon(0% 10.56792%, 77.45% 10.56792%, 81.0447% 0%, 100% 0%,
          100% 100%, 81.0447% 100%, 77.45% 89.43208%, 0% 89.43208%);
  position: relative;
  // top border
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 12.5%;

    clip-path: polygon(0% 84.6154%, 77.45% 84.6154%, 81.0447% 0%, 100% 0%,
            100% 23.077%, 81.0447% 23.077%, 77.8% 100%, 0% 100%);

    background: linear-gradient(90deg, transparent 40%, rgba(63,118,243, 0.8) 60%, rgb(63,118,243) 70%);
  }
  // bottom border
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 12.5%;

    clip-path: polygon(0% 0%, 77.8% 0%, 81.0447% 76.923%, 100% 76.923%,
            100% 100%, 81.0447% 100%, 77.45% 15.3846%, 0% 15.3846%);

    background: linear-gradient(90deg, transparent 40%, rgba(63,118,243, 0.8) 60%, rgb(63,118,243) 70%);
  }
}

.AttachmentsSquaresContainer {
  height: 37%;
  width: 87%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;

  .LeftArrow {
    visibility: hidden;
    width: 4.5%;
    height: 16%;
    background-color: rgba(47, 55, 71, 0.3);
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
  }
}


//.UIBordersContainer {
//  // all ok
//  width: 23%;
//  height: 100%;
//  box-sizing: border-box;
//  position: relative;
//
//  .UIBorders {
//    height: 40.78%;
//    width: 102%;
//    position: absolute;
//    top: 16.9%;
//    left: -2%;
//    //clip-path: polygon(0 10.568%, 17.15% 0, 100% 0, 100% 100%, 17.15% 100%, 0 89.432%);
//    clip-path: polygon(0 10.568%, 17.15% 0, 100% 0, 100% 100%, 17.15% 100%, 0 91%);
//    background: linear-gradient(180deg, #3f76f3 0%, #3f76f3 12%, transparent 13%),
//    linear-gradient(0deg, #3f76f3 0%, #3f76f3 12%, transparent 13%);
//    overflow: hidden;
//
//    @media(min-width: 1900px) {
//      width: 101%;
//      left: -1%;
//    }
//    @media(min-width: 2500px) {
//      width: 101.5%;
//      left: -1.5%;
//    }
//
//    .ClippedElement {
//      height: 95%;
//      width: 100%;
//      //background: linear-gradient(90deg, rgba(44, 60, 97, 1), rgba(48, 68, 112, 1));
//      background: linear-gradient(90deg, rgba(53, 78, 163, 1), rgb(52, 75, 128));
//      //clip-path: polygon(0 12.568%, 19.15% 0, 100% 0, 100% 100%, 19.15% 100%, 0 90%);
//      clip-path: polygon(0 12.568%, 19.15% 0, 100% 0, 100% 100%, 19.15% 100%, 0 90%);
//      box-sizing: border-box;
//      position: absolute;
//      left: 0;
//      top: 2.5%;
//    }
//  }
//}
//
//@media (min-width: 2000px) {
//  .MainContent {
//    .WeaponSquareContainer {
//      border-top: 3px solid;
//      border-bottom: 3px solid;
//    }
//  }
//}
//@media (min-width: 2500px) {
//  .MainContent {
//    .WeaponSquareContainer {
//      border-top: 4px solid;
//      border-bottom: 4px solid;
//    }
//  }
//}
