@use '../../constants/scss/theme';

.WeaponTypeContainer {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Shift {
  width: 7%;
}

.MainContent {
  width: 70%;
  height: 100%;
  margin-right: 0;
  margin-left: auto;

  .TypeAndWeaponTitle {
    height: 21.5%;
    width: 100%;
    box-sizing: border-box;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .WeaponSquareContainer {
    height: 32.156%;
    width: 100%;
    background: linear-gradient(90deg, transparent, rgba(44, 60, 97, 1));
    box-sizing: border-box;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, transparent 50%, rgba(63,118,243,0.6) 60%, rgba(63,118,243,1)) 2;
    position: relative;
  }

  .AttachmentsSquaresContainer {
    height: 37%;
    width: 120%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    .LeftArrow {
      visibility: hidden;
      width: 4.5%;
      height: 16%;
      background-color: rgba(47, 55, 71, 0.3);
      clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }
  }
}

.UIBordersContainer {
  // all ok
  width: 23%;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  .UIBorders {
    height: 40.78%;
    width: 102%;
    position: absolute;
    top: 16.9%;
    left: -2%;
    //clip-path: polygon(0 10.568%, 17.15% 0, 100% 0, 100% 100%, 17.15% 100%, 0 89.432%);
    clip-path: polygon(0 10.568%, 17.15% 0, 100% 0, 100% 100%, 17.15% 100%, 0 91%);
    background: linear-gradient(180deg, #3f76f3 0%, #3f76f3 12%, transparent 13%),
    linear-gradient(0deg, #3f76f3 0%, #3f76f3 12%, transparent 13%);
    overflow: hidden;

    .ClippedElement {
      height: 95%;
      width: 100%;
      background: linear-gradient(90deg, rgba(44, 60, 97, 1), rgba(48, 68, 112, 1));
      clip-path: polygon(0 12.568%, 19.15% 0, 100% 0, 100% 100%, 19.15% 100%, 0 90%);
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 2.5%;
    }
  }
}

@media (min-width: 2000px) {
  .MainContent {
    .WeaponSquareContainer {
      border-top: 3px solid;
      border-bottom: 3px solid;
    }
  }
}
@media (min-width: 2500px) {
  .MainContent {
    .WeaponSquareContainer {
      border-top: 4px solid;
      border-bottom: 4px solid;
    }
  }
}
