.StaffListItemDescription {
  width: 100%;
  height: 100%;
  background-color: #21252C;

  .StatsWrapper {
    max-height: 50%;
    background-color: #292C33;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2.85%;
    margin-top: 1.48%;
    padding: 0.7058rem 1.8235rem 0.7647rem 0.8824rem;
    border-radius: 0.2941rem;
    box-sizing: border-box;
  }
}