.PermissionsTab {
  position: absolute;
  display: flex;
  flex-direction: row;

  .RolesListWrapper {
    width: 16.08%;
    height: 100%;
  }

  .CommonPermissionsWrapper {
    width: 19.55%;
    height: 100%;
  }

  .RightContentWrapper {
    width: 64.37%;

    height: 100%;
    max-height: 100%;
  }
}
