@use '../../../../../../hud/components/Phone/consts/phoneTheme';

.ChatsScreen {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  .ScrollWrapper {
    min-height: 97%;
    max-height: 97%;
    width: 97.56%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-left: 6%;
    padding-top: 7%;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 0.4rem phoneTheme.$scrollbar_kimberly;
      border: solid 0.16rem transparent;
      background-color: transparent;
    }

    .SingleChatWrapper {
      height: 12.78%;
      width: 89.18%;
    }
  }

  .BlurredBottomBlock {
    min-height: 3%;
    max-height: 3%;
    width: 100%;
  }
}
