html,
body,
#root {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

html {
  font-size: 10px;
}

img {
  -webkit-user-drag: none;
}

@media (min-width: 1200px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 3500px) {
  html {
    font-size: 28px;
  }
}

body * {
  cursor: default !important;
}

#root {
  overflow: hidden;
}

//@font-face {
//    font-family: 'Montserrat-Bold';
//    src: local('Montserrat-Bold'), url(./src/assets/fonts/Montserrat-Bold.ttf) format('truetype');
//}
@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url(src/assets/inventory/fonts/Montserrat-Light.ttf) format('truetype');
}
//@font-face {
//    font-family: 'Montserrat-Regular';
//    src: local('Montserrat-Regular'), url(./src/assets/fonts/Montserrat-Regular.ttf) format('truetype');
//}
//@font-face {
//    font-family: 'Montserrat-SemiBold';
//    src: local('Montserrat-SemiBold'), url(./src/assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
//}
//@font-face {
//    font-family: 'BebasNeue-Regular',sans-serif;
//    src: local('BebasNeue-Regular'), url(./src/assets/fonts/BebasNeue-Regular.ttf) format('truetype');
//}
@font-face {
  font-family: 'BebasNeue-Bold';
  src: local('BebasNeue-Bold'), url(src/assets/inventory/fonts/BebasNeue-Bold.otf) format('opentype');
}
