.LogsTabWrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 3.9% 0 4% 0;

  .LogsTab {
    height: 100%;
    width: 70.4%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .TitleAndSearchWrapper {
      width: 100%;
      height: 3.9%;
    }

    .LogsWrapper {
      margin-top: 4.4%;
      width: 100%;
      flex-grow: 1;
      height: 84.23%;
      max-height: 84.23%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .SingleLogWrapper {
        height: 9.59%;
        width: 100%;
        margin-top: 0.31%;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .PaginationContainer {
      width: 100%;
      height: 6.41%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .PaginationWrapper {
        width: 49.9%;
        height: 70%;
        //background-color: red;
      }
    }

    .LoadingWrapper {
      width: 100%;
      flex-grow: 1;
    }
  }
}