@use '../../../../../constants/hud/corporations/corporationsTheme';
// with description
.CurrentTasksSingleTaskWrapper {
  width: 100%;
  background-color: #323540;

  &:hover {
    background-color: rgba(50, 53, 64, 0.7);
  }

  .CurrentTasksSingleTask {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .TaskRowWrapper {
      width: 94.7%;
      max-width: 94.7%;
      overflow: hidden;
      display: flex;
      align-items: center;

      .TaskTitleAndDate {
        margin-left: 1.78%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 2.0588rem;
        max-width: 25%;
      }
    }

    .OpenDescriptionButtonContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .RemoveButton {
        display: inline;

        &:hover {
          filter: contrast(130%);
        }
      }
    }
  }



}