// with description
.CurrentTasksSingleTaskWrapper {
  width: 100%;

  .CurrentTasksSingleTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323540;

    .TaskRowWrapper {
      width: 94.7%;
      max-width: 94.7%;
      overflow: hidden;
      display: flex;
      align-items: center;

      .TaskTitleAndDate {
        margin-left: 1.78%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 2.0588rem;
      }
    }

    .OpenDescriptionButtonContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }



}