@use '../../../../../constants/hud/corporations/corporationsTheme';
// with description
.CurrentTasksSingleTaskWrapper {
  width: 100%;
  background-color: #323540;

  &:hover {
    background-color: rgba(50, 53, 64, 0.7);
  }

  .CurrentTasksSingleTask {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .TaskRowWrapper {
      width: 94.7%;
      max-width: 94.7%;
      overflow: hidden;
      display: flex;
      align-items: center;

      .TaskTitleAndDate {
        margin-left: 1.78%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 2.0588rem;
        max-width: 20%;
        width: 20%;
      }

      .RightArrow {
        margin-left: 0.3647rem;
        width: 0.33rem !important;
        height: 0.577rem;
        background-color: #D7D9DF;
        display: inline-block;
        clip-path: polygon(0% 14.29%, 10.71% 0%,100% 50%, 10.71% 100%, 0% 85.71%, 60.71% 50%, 0% 14.29%);
      }
    }

    .OpenDescriptionButtonContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .RemoveButton {
        display: inline;

        &:hover {
          filter: contrast(130%);
        }
      }
    }
  }
}
