@use '../../../../constants/scss/theme';

.NetworkAndTime {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .ShifterNetworkAndTime {
    width: 26%;
    height: 38.8%;
    display: flex;

    @media(min-aspect-ratio: theme.$aspect-ratio-4x3) {
      width: 30%;
    }
    @media(min-aspect-ratio: theme.$aspect-ratio-3x2) and (min-width: 2000px){
      width: 26%;
      height: 33%;
    }
    @media(min-aspect-ratio: theme.$aspect-ratio-16x9){
      width: 30%;
      height: 40%;
    }
    @media(min-aspect-ratio: theme.$aspect-ratio-17x9){
      width: 24%;
      height: 35%;
    }

    .TimeContainer {
      width: 80%;
      height: 100%;
      font-size: 0.8rem;
      font-weight: 800;
      color: #fff;
      font-family: 'Oswald', sans-serif;
    }

    .NetworkContainer {
      flex-grow: 1;

      .ShiftedNetworkContainer {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: flex-end;

        .FirstStrip {
          height: 38%;
          width: 20%;
          background-color: white;
        }
        .SecondStrip {
          height: 66%;
          margin-left: 20%;
          width: 20%;
          background-color: white;
        }
        .ThirdStrip {
          height: 100%;
          margin-left: 20%;
          width: 20%;
          background-color: white;
        }
      }
    }
  }
}