@use '../../constants/scss/theme';

.Board {
    //width: 100%;
    display: grid;
    //grid-gap: 0.5px 0.5px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 1fr);
    box-sizing: content-box;
    //border: 3px solid rgba(116, 121, 130, 0.7);
    outline: 1.5px solid rgba(116, 121, 130, 0.7);
    background: rgba(96, 99, 110, 0.6);
    overflow: hidden;
}

