@use '../../constants/scss/theme';

.BoardInfo {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 200;

  height: 5.5%;
  max-height: 5.5%;

  //@media(min-width: 1200px) {
  //  height: 13%;
  //  max-height: 13%;
  //}
  //@media(min-width: 1500px) {
  //  height: 10%;
  //  max-height: 10%;
  //}
}

.CurrentCashText {
  font-weight: 600;
  color: #15d598;
}