@use '../../constants/scss/theme';

.BoardSquare {
  width: 100%;
  position: relative;
  margin-left: 0;
  box-sizing: border-box;
  //box-sizing: content-box;
  background-color: rgba(175, 171, 171, 0.1);
}