.ImageContainer {
  position: absolute;
  outline: 0.25px solid rgba(109, 114, 125, 0.8);
}

.Image {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  pointer-events: none;
}

.CurrentCountText {
  pointer-events: none;
  position: absolute;
  top: 1%;
  right: 1%;
}