.CallerInfoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .AvatarContainer {
    height: 71.76%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .AvatarWrapper {
      width: 31.5%;
      height: 68.85%;

      .Image {
        border-radius: 50%;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .Name {
    height: 19.6%;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .PhoneNumber {
    width: 100%;
    min-height: 8.64%;
    max-height: 8.64%;
  }
}
