.CurrentCallScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;

  .CallerInfoWrapper {
    height: 31.17%;
    width: 100%;
  }

  .CallIndicatorsAndDeclineButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    //height: 41.8%;
    height: 25.8%;
    //background-color: red;

    .CallIndicatorsContainer {
      //background-color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 93%;
      //height: 60.82%;
      height: 40.41%;

      .CallIndicatorsWrapper {
        height: 90%;
        width: 100%;
        //display: grid;
        //grid-template-columns: 1fr 1fr 1fr;
        //grid-template-rows: 1fr 1fr;
        //grid-column-gap: 2%;
        //grid-row-gap: 5%;
        display: flex;

        .Option {
          //height: 100%;
          //width: 80%;
          //margin-left: auto;
          //margin-right: auto;
          //display: flex;
          //flex-direction: column;
          //justify-content: space-between;
          //align-items: center;

          height: 100%;
          width: 30%;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          &:hover {
            filter: contrast(130%) invert(20%);
          }

          .Image {
            width: 37%;
            height: 42%;
            display: block;
          }

          .OptionText {
            width: 120%;
            height: 45%;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .DeclineButtonWrapper {
      flex-grow: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .DeclineButton {
        width: 30%;

        &:hover {
          filter: contrast(130%) invert(5%);
        }
      }
    }
  }
}
