@use '../constants/scss/theme';

.BlurredWrapper {
  width: 100%;
  height: 100%;
  //background-image: url("../assets/images/UI/root-background.png");
  //background-image: url("../assets/dummy/game-screen-1.jpg");
  //background-size: cover;
  background: rgba(56, 69, 168, 0.1);
  filter: blur(0.3rem);
}

.AppContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //backdrop-filter: blur(1rem);
  .TopTooltip {
    height: 6.2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .ToolTipText {
      display: block;
      line-height: 23px;
      font-size: 14px;
    }
  }

  .App {
    display: flex;
    height: 93.8%;
    width: 100%;
    @media (max-width: theme.$breakpoint-md) {
      flex-direction: column;
    }
    .BoardContainer {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 66%;
    }
  }

  .LeftSparksSvgContainer {
    position: absolute;
    width: 44.375%;
    height: 13.148%;
    //background-color: red;
    z-index: -100;
    bottom: 0;
    left: 0;
  }

  .LeftSparksSvgContainer {
    position: absolute;
    width: 44.375%;
    height: 13.148%;
    //background-color: red;
    z-index: -100;
    bottom: 0;
    right: 0;
  }

  .RightSparksSvgContainer {
    position: absolute;
    width: 44.375%;
    height: 13.148%;
    //background-color: red;
    z-index: 0;
    bottom: 0;
    right: 0;
  }
}




