.CommonItem {
  display: block;
  position: absolute;
  cursor: move;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.ImageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}