@use '../../../../../../../../../hud/components/Corporations/consts/corporationsTheme';

.PropertyOfficeTab {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.941rem;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 0.2rem corporationsTheme.$scrollbar_brightGrey;
    border: solid 0.3529412rem transparent;
    background-color: transparent;
  }


  .OptionRowContainer {
    width: 100%;
    height: calc(8.83% + 4px);
    //height: calc(17.66% + 4px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .OptionRowWrapper {
      width: 100%;
      flex-grow: 1;
    }
  }
}