@use '../../../../../../hud/components/Corporations/consts/corporationsTheme';

.TasksList {
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0.31% 0 0.86% 0;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    position: absolute;
    width: 0.941rem;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 0.2rem corporationsTheme.$scrollbar_brightGrey;
    border: solid 0.3529412rem transparent;
    background-color: transparent;
  }

  .SingleTaskWrapper {
    margin-top: 0.32%;
    //height: 10.66%;
    width: 100%;

    &:first-of-type {
      margin-top: 0;
    }
  }
}