.ExternalBoardWrapper {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3f77f5;
  }

  .ExternalBoard {
    display: grid;
    //grid-gap: 0.5px 0.5px;
    grid-template-columns: repeat(16, 1fr);
    box-sizing: content-box;
    //border: 3px solid rgba(116, 121, 130, 0.7);
    overflow: hidden;
  }
}
