@use '../../../../../../constants/hud/corporations/corporationsTheme';

.PermissionsSubTab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16.71% 0;
  box-sizing: border-box;
  border-left: 1px solid corporationsTheme.$bg_darkGrey3;

  &:hover {
    background-color: rgba(corporationsTheme.$text_white3, 0.15);
  }

  .Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .ImageWrapper {
      //padding-bottom: 7.44%;
      //height: 50%;
      height: 52.5%;
      //background-color: red;
      box-sizing: border-box;
    }

    .TitleTextWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}