@use '../../../constants/scss/theme';

.EquippedWeaponsInventoryContainer {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;

  @media (max-width: theme.$breakpoint-md) {
    height: 20%;
    width: 100%;
  }
}