.SelectedChatScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .ScreenTitleWrapper {
    width: 100%;
    max-height: 6.33%;
    min-height: 6.33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 1.5%;

    .BackTitleRemoveContainer {
      width: 90.74%;
      height: 56.52%;
      display: flex;
      justify-content: space-between;

      .ArrowNameContainer {
        height: 100%;
        width: 92.33%;
        max-width: 92.33%;
        //background-color: red;
        display: flex;

        .ArrowButton {
          //width: 2.33%;
          width: 2.9%;
          //background-color: yellow;
          //background-color: green;
          display: flex;
          align-items: center;
        }

        .NameWrapper {
          width: 86%;
          max-width: 86%;
          height: 100%;
          //background-color: purple;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          margin-left: 7%;
        }
      }

      .RemoveButtonWrapper {
        width: 6.42%;
        height: 100%;

        .RemoveButton {
          margin-top: -12%;
          display: block;
        }
      }
    }
  }

  .HorizontalLine {
    width: 100%;
    height: 0.19%;
  }

  .MessagesListWrapper {
    width: 100%;
    flex-grow: 1;
    max-height: 84.48%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    //padding-top: 4.5%;
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #706390;
      border-radius: 0.45rem;
    }
  }

  .SendMessageContainer {
    width: 100%;
    //flex-grow: 1;
    min-height: 9%;
    height: 9%;
    max-height: 5.02rem;
    display: flex;

    .TypeTextContainer {
      width: 82%;
      height: 100%;
      box-sizing: border-box;

      .TextArea {
        //height: 0.35rem;
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 84.19%;
        //margin-bottom: 10%;
        //max-height: 2.45rem;
        min-height: 0.67rem;
        line-height: 0.67rem;
        resize: none;
        border: none;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        -webkit-appearance: none;
        &:focus {
          outline: none;
        }

        &::-webkit-scrollbar {
          width: 0.45rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #706390;
          border-radius: 0.45rem;
        }
      }
    }

    .SendButtonContainer {
      box-sizing: border-box;
      flex-grow: 1;
      max-width: 18%;
      height: 100%;
      display: flex;

      .SendButtonWrapper {
        width: 44.12%;
        margin: auto 36% 25% auto;
        //margin-left: auto;
        //margin-right: 36%;
        //margin-top: auto;
        //margin-bottom: 25%;
      }
    }
  }
  .Button {
    display: block;
    width: 100%;
  }
}