@use '../../../constants/scss/theme';

.EquippedClosingInventoryContainer {
  //position: relative;
  width: 16.94%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 1.75%;

  // to align with weapons container
  @media (min-aspect-ratio: theme.$aspect-ratio-5x4) {
    padding-top: 2.7%;
  }
  @media (min-aspect-ratio: theme.$aspect-ratio-4x3) {
    padding-top: 2.7%;
  }
  @media (min-aspect-ratio: theme.$aspect-ratio-3x2) {
    padding-top: 2.6%;
    @media(min-width: 2300px) {
      padding-top: 2.7%;
    }
  }
  @media (min-aspect-ratio: theme.$aspect-ratio-16x10) {
    padding-top: 2.1%;
    @media(min-width:1900px) {
      padding-top: 2.3%;
    }
  }
  @media (min-aspect-ratio: theme.$aspect-ratio-16x9) {
    padding-top: 1.8%;
    @media(min-width: 1900px) {
      padding-top: 2.2%;
    }
  }
  @media (min-aspect-ratio: theme.$aspect-ratio-17x9) {
    padding-top: 2.1%;
  }
}