$bg_darkBlack: #191c23;
$bg_lightBlack: #1a1d24;
$bg_lightBlack2: #212634;

$bg_lightGray: #828192;

$bg_gray: #383c4a;
$bg_gray2: #363b49;

$bg_darkGrey: #1f2229;
$bg_darkGrey2: rgb(42, 45, 56);
$bg_darkGrey3: #252831;
$bg_darkGray_picked: #252931;

$bg_orange_picked: #ba9e16;
$bg_orange_picked2: #f4cb38;

$bg_green: #28cc4c;

$bg_pickledBlueWood: #2f4a59;

$bg_malibu: #7cc0ff;

$text_white: #fff;
$text_white2: #bbccdc;
$text_white3: #c4c4c4;
$text_gray: #7a8192;
$text_gray2: #9699a5;

$delimiter_gray: #393d4d;
$delimiter_darkGray: #30343f;

$scrollbar_brightGrey: #50535c;

//treasury
$button_lightBlue: #4277fd;
$button_Blue: #2051cf;

$border_brightGray: #3f424f;
$bg_eggplant: #2b2229;

$red: #e85959;
