@use '../../constants/alert/alertsTheme';

.SingleAlert {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 0.3rem;
  box-sizing: border-box;
  padding: 1.5%;
  background-color: yellow;
  display: flex;
  justify-self: center;
  align-items: center;
}

.Success {
  background-color: rgba(alertsTheme.$success, 0.5);
}

.Warning {
  background-color: rgba(alertsTheme.$warning, 0.5);
}

.Error {
  background-color: rgba(alertsTheme.$error, 0.5);
}

@keyframes slidein {
  0% {
    //transform: translateX(-100%);
    //visibility: hidden;
    opacity: 0;
  }

  100% {
    //transform: translateX(0%);
    //visibility: visible;
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    //transform: translateX(-100%);
    //visibility: hidden;
    opacity: 1;
  }

  100% {
    //transform: translateX(0%);
    //visibility: visible;
    opacity: 0;
  }
}

.FadeIn {
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: linear;
}

.FadeOut {
  animation-name: slideout;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: linear;
}