.SingleInteraction {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  //background-color: red;
  box-sizing: border-box;
  //padding: 1.5%;
  padding: 1.8%;

  .InteractionContent {
    //width: 100%;
    min-width: 50%;
    height: 100%;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 6%;
    display: flex;

    &:hover {
      background-color: #ecb958;
    }

    .InteractionNameImageContainer {
      //width: 100%;
      height: 100%;
      //background-color: white;
      display: flex;
      justify-content: flex-end;
      max-width: 100%;

      .TextContainer {
        padding: 0 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;

        .TextWrapper {
          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1rem;
          color: #362b2b;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          //max-width: 70%;
        }
      }

      .ImageContainer {
        //width: 18.83%;
        //width: 17.83%;
        height: 100%;
        //background-color: green;
      }
    }
  }
}
