.SettingsScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .ScreenTitleWrapper {
    width: 100%;
    height: 6.33%;
    box-sizing: border-box;
    padding-left: 6%;
    padding-top: 4.5%;
  }

  .SettingsListWrapper {
    width: 100%;
    min-height: 93.48%;
    max-height: 93.48%;
  }
}
