@use '../../../../constants/hud/corporations/corporationsTheme';

.CorporationsSwitch {
  display: block;
  width: 100%;
  border-radius: 1rem;
  background-color: corporationsTheme.$bg_lightBlack2;

  .Input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }

  .Indicator {
    width: 48.57%;
    height: 100%;
    border-radius: 50%;
    transition: 0.2s;
  }
}