@use '../../../../constants/hud/corporations/corporationsTheme';

.CorporationsHeaderTab {
  //height: 100%;
  padding: 0.5882rem 1rem;
  box-sizing: border-box;
  //background-color: red;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(corporationsTheme.$text_white3, 0.15);
  }
}
