@use "../../../../hud/components/Corporations/consts/corporationsTheme";

.CorporationsTabs {
  position: absolute;
  display: flex;
  flex-direction: column;

  .HeaderWrapper {
    width: 100%;
    height: 6.83%;
  }
  .TabContentWrapper {
    flex-grow: 1;
    background-color: corporationsTheme.$bg_darkGrey2;
  }
}