@use '../../../../constants/hud/corporations/corporationsTheme';

.CorporationsDropdown {
  position: absolute;
  top: 0;
  border-radius: 0.294rem;
  box-sizing: border-box;
  background-color: corporationsTheme.$bg_gray2;
  padding-bottom: 15%;

  .ItemsList {
    width: 100%;
    max-height: 6.6rem;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      position: absolute;
      //width: 0.941rem;
      width: 0.341rem;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 0.2rem corporationsTheme.$scrollbar_brightGrey;
      //border: solid 0.3529412rem transparent;
      background-color: transparent;
    }
  }
}

.ListItemWrapper {
  min-height: 1.65rem;
  max-height: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(corporationsTheme.$text_white3, 0.15);
  }
}

.SelectedItem {
  position: relative;
  background-color: corporationsTheme.$bg_gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.294rem;
  padding: 0.91% 1.7%;
  box-sizing: border-box;

  &:hover {
    filter: contrast(110%);
  }
}
