@use '../../../../hud/components/Corporations/consts/corporationsTheme';

.HorizontalLine {
  width: 100%;
  background-color: corporationsTheme.$delimiter_darkGray;
  height: 1px;

  @media (min-width: 2500px) {
    height: 2px;
  }
}