@use '../../../constants/scss/theme';

.LeadText {
  color: #fff;
  //margin-left: 1.5%;
  white-space: nowrap;
  font-family: BebasNeue-Bold, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  line-height: 1.2rem;
  text-overflow: ellipsis;
  //overflow: hidden;

  //@media (min-aspect-ratio: theme.$aspect-ratio-4x3) {
  //  @media (min-width: 1500px) {
  //    font-size: 14px;
  //    line-height: 20px;
  //  }
  //}
  //
  //@media (min-aspect-ratio: theme.$aspect-ratio-3x2) {
  //  font-size: 20px;
  //  line-height: 23px;
  //}
  //
  //@media (min-aspect-ratio: theme.$aspect-ratio-16x10) {
  //  font-size: 14px;
  //  line-height: 17px;
  //  @media (min-width: 1900px) {
  //    font-size: 15px;
  //    line-height: 20px;
  //  }
  //}
  //
  //@media (min-aspect-ratio: theme.$aspect-ratio-16x9) {
  //  font-size: 13px;
  //  line-height: 16px;
  //  @media (min-width: 1900px) {
  //    font-size: 15px;
  //    line-height: 18px;
  //  }
  //}
  //
  //@media (min-aspect-ratio: theme.$aspect-ratio-17x9) and (min-width: 3800px) {
  //  font-size: 30px;
  //  line-height: 32px;
  //}
  //
  //// for 3840x2160
  //@media (max-aspect-ratio: theme.$aspect-ratio-17x9) and (min-width: 3800px) {
  //  font-size: 30px;
  //  line-height: 32px;
  //}
}