.Alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: #f4f4f4;
    color: #333;
    position: absolute;
    width: 350px;
    height: 80px;
    z-index: 100;
    border-radius: 5px;
}

.alert-danger {
    background: #dc3545;
    color: #fff;
}

.alert-success {
    background: #28a745;
    color: #fff;
}
