@use '../../../../../../../../constants/hud/corporations/corporationsTheme';

.ModelsList {
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  border-right: 1px solid corporationsTheme.$delimiter_gray;
  //background-color: red;

  .SearchWrapper {
    width: 100%;
    height: 6.84%;
    box-sizing: border-box;
    padding: 0 9.8%;
  }

  .ListWrapper {
    width: 100%;
    height: calc(93.16% - 2px);
    max-height: calc(93.16% - 2px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.941rem;
      //width: 0.5882rem;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 0.2rem corporationsTheme.$scrollbar_brightGrey;
      border: solid 0.3529412rem transparent;
      //border-right: solid 0.3529412rem transparent;
      background-color: transparent;
    }
  }
}
