@use '../../../../../../../../constants/hud/corporations/corporationsTheme';

.ModelsListItem {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(corporationsTheme.$text_white3, 0.15);
  }
}