@use '../../../../../../../../hud/components/Corporations/consts/corporationsTheme';

.ModelInfo {
  width: 100%;
  height: 100%;
  //background-color: green;

  .ModelInfoRowContainer {
    width: 100%;
    height: calc(8.83% + 4px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .ModelInfoRowWrapper {
      width: 100%;
      flex-grow: 1;
    }
  }

  .DropdownWrapper {
    position: relative;
  }

  .PermissionsWrapper {
    width: 100%;
    overflow-y: auto;
    max-height: calc(100% - 26.49% - 6px - 7.4% - 1rem);

    &::-webkit-scrollbar {
      width: 0.2rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #50535C;
      border-radius: 0.3rem;
    }

    .PermissionWrapper {
      width: 35.17%;
      padding-left: 3.55%;
    }
  }
}