@use '../../../../../../../../hud/components/Corporations/consts/corporationsTheme';

.ModelInfo {
  width: 100%;
  height: 100%;
  //background-color: green;

  .OptionsWrapper {
    width: 100%;
    height: 50%;
    max-height: 50%;

    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.941rem;
      //width: 0.5882rem;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 0.2rem corporationsTheme.$scrollbar_brightGrey;
      border: solid 0.3529412rem transparent;
      //border-radius: 1rem;
      //border-right: solid 0.3529412rem transparent;
      background-color: transparent;
    }

    .ModelInfoRowContainer {
      width: 100%;
      //height: calc(8.83% + 4px);
      height: calc(17.66% + 4px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .ModelInfoRowWrapper {
        width: 100%;
        flex-grow: 1;
      }
    }
  }

  .DropdownWrapper {
    position: relative;
  }

  .PermissionsWrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    //max-height: calc(100% - 26.49% - 6px - 7.4% - 1rem);
    //max-height: calc(42.587% - 1rem);
    max-height: calc(42.58% - 1rem);

    &::-webkit-scrollbar {
      width: 0.941rem;
      //width: 0.5882rem;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 0.2rem corporationsTheme.$scrollbar_brightGrey;
      border: solid 0.3529412rem transparent;
      //border-right: solid 0.3529412rem transparent;
      background-color: transparent;
    }

    .PermissionWrapper {
      width: 35.17%;
      padding-left: 3.55%;
    }
  }
}