.SubTabAuto {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .ModelsListWrapper {
    height: 100%;
    width: 18.94%;
    max-height: 100%;
  }

  .ModelInfoWrapper {
    min-width: 81.06%;
    max-width: 81.06%;
    height: 100%;
  }
}
