.IncomingCallScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  //.ImageContainer {
  //  width: 100%;
  //  height: 22%;
  //  background-color: red;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: flex-end;
  //  align-items: center;
  //
  //  .ImageWrapper {
  //    width: 30%;
  //    border-radius: 50%;
  //    overflow: hidden;
  //    background-color: firebrick;
  //
  //    .Image {
  //      display: block;
  //      width: 100%;
  //      height: 100%;
  //      background-size: cover;
  //    }
  //  }
  //}
  //.NameWrapper {
  //  width: 100%;
  //  height: 5%;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  //}
  //.PhoneNumberWrapper {
  //  width: 100%;
  //  height: 5%;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  //}

  .CallerInfoWrapper {
    height: 32%;
    width: 100%;
  }

  .ButtonsAndTextContainer {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .ButtonsAndTextWrapper {
      width: 75%;
      height: 29%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ButtonAndText {
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .Button {
          display: block;
          width: 90%;
        }

        .Text {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

    }
  }



}