.ImageContainer {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(0 21.4%, 21.4% 0, 78.6% 0, 100% 21.4%, 100% 78.6%, 78.6% 100%, 21.4% 100%, 0 78.6%);

  .Image {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 80%;
    width: 80%;
  }
  .CurrentCount {
    pointer-events: none;
    position: absolute;
    top: 12%;
    right: 12%;
  }
}



// only for weapons
.ClosingSquareWrapper {
  width: 54.45%;
  left: 23%;
  height: 76%;
  /*position: abs; / with pseudo-elements with display: block;*/
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 12%;
}