@use '../../../../../constants/hud/corporations/corporationsTheme';

.TreasuryBorderedInput {
  width: 100%;
  height: 100%;
  border: 0.0588rem solid #4D525E;
  border-radius: 0.2941rem;
  box-sizing: border-box;
  padding: 0 4.58%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    border: 0.0588rem solid corporationsTheme.$bg_gray;
  }

  .DollarSign {
    height: 0;
    width: 6.42%;
    padding-bottom: 6.42%;
    background-image: url("../../../../../assets/hud/images/components/Corporations/tabs/treasury/dollar-bordered.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}